# Environment variables for development
DATABASE_CONNECTION_STRING=Server=tcp:vlivingdb.database.windows.net,1433;Initial Catalog=VLivingDb;Persist Security Info=False;User ID=VLiving@vlivingdb;Password=Sixma123@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

# JWT Configuration - CHANGE THESE IN PRODUCTION
JWT_SECRET_KEY=YourProductionSecretKeyWithMinimum32Characters
JWT_ISSUER=VLivingAPI
JWT_AUDIENCE=VLivingApp

# Email Configuration - SET YOUR VALUES
EMAIL_USERNAME=vliving2025@gmail.com
EMAIL_PASSWORD=musjatcoslntnrzu
EMAIL_FROM=vliving2025@gmail.com
BASE_URL=http://localhost:8080

# Google Cloud Storage
GCS_BUCKET_NAME=vliving-storage-image
GCS_PROJECT_ID=valiant-index-438307-p0